body{
	font-family:Arial;
	background-color:#f2f2f2;
}
.login-box{
	width:300px;
	margin:100px auto;
	background:white;
	padding:20px;
	text-align:center;
	border-radius:8px;
}
input{
	width:90%;
	padding:10px;
	margin:8px 0;
}
button{
	width:95%;
	padding:10px;
	background:#007bff;
	color:white;
	border:none;
	border-radius:5px;
}
#error {
	color:red;
}
